*.class
*.zip
*.jar
/*/bin/
/*/target/
/*/log/
/target/
/coverage/
/docs/
/fitnesse/ErrorLogs/
/fitnesse/files/
/fitnesse/FitNesse/
/fitnesse/FrontPage/
/fitnesse/PageFooter/
/fitnesse/PageHeader/
/fitnesse/RecentChanges/
/fitnesse/properties
/fitnesse/updateDoNotCopyOverList
/fitnesse/updateList
tasks.txt
